<h1>{{category}}</h1>

{{#if songs.length}}
    {{#each songs}}
        <div class="card">
            <div class="card-content">
                <a href="/song/{{id}}">{{name}}</a>
            </div>
        </div>
    {{/each}}
{{else}}
    <p>Поки пісень для даної категорії не додали</p>
{{/if}}

<div class="buttons">
    <form action="/song/new" method="GET">
        <input id="name" name="name" type="hidden" required  value="{{category}}">
        <button class="btn">Додати нову пісню</button>
    </form>

    <form action="/category/new" method="GET">
        <button class="btn">Додати нову категорію</button>
    </form>

    <form action="/" method="GET">
        <button class="btn goHome">До списку категорій</button>
    </form>
</div>
