{{#if err}}
    <p class="msg alert">{{err}}</p>
{{/if}}

<h1>{{categoryName}}</h1>

{{#if songs.length}}
    {{#each songs}}
        <div class="card">
            <div class="card-content">
                <a href="/song/{{id}}">{{name}}</a>
            </div>
        </div>
    {{/each}}
{{else}}
    <p>Поки пісень для даної категорії не додали</p>
{{/if}}

<div class="buttons">
    <form action="/category" method="GET">
        <button class="btn goHome">До списку категорій</button>
    </form>
    {{#if isAuth}}
        <form action="/song/add" method="GET">
            <input id="name" name="name" type="hidden" required  value="{{categoryName}}">
            <button class="btn">Додати нову пісню</button>
        </form>

        <form action="/categories/delete/{{categoryId}}" method="GET">
            <button class="btn red">Видалити категорію</button>
        </form>
    {{/if}}
</div>
