{{#if err}}
    <p class="msg alert">{{err}}</p>
{{/if}}

<h1>{{categoryName}}</h1>
<div class="search-container">
    <input type="text" id="search" placeholder="шукати пісню...">
</div>

<div class="songs">
    {{#if songs.length}}
        {{#each songs}}
            <div class="card">
                <div class="card-content">
                    <a href="/song/{{id}}" class="song">{{name}}</a>
                </div>
            </div>
        {{/each}}
    {{else}}
        <p>Поки пісень для даної категорії не додали</p>
    {{/if}}
</div>

<div class="buttons">
    <a href="/category" class="btn goHome">До списку категорій</a>
    {{#if isAuth}}
        <a href="/song/add?current={{categoryName}}" class="btn">Додати нову пісню</a>
        <a href="/category/delete/{{categoryId}}" class="btn red">Видалити категорію</a>
    {{/if}}
</div>
