{{#if err}}
    <p class="msg alert">{{err}}</p>
{{/if}}

<h1>{{categoryName}}{{#ifor isAuthor isAdmin}} <span class="material-icons edit">edit</span>{{/ifor}}</h1>
{{> cat-edit}}

{{#if songs.length}}
    <input type="text" id="search" placeholder="пошук...">
{{/if}}

<div class="songs">
    {{#if songs.length}}
        {{#each songs}}
            <div class="card">
                <a href="/song/{{id}}" class="card-content song capitalize">{{name}}</a>
            </div>
        {{/each}}
    {{else}}
        <p>Поки пісень для даної категорії не додали</p>
    {{/if}}
</div>

<div class="buttons_container">
    <a href="/category" class="btn blue">До списку категорій</a>
    {{#if isAuth}}
        <a href="/song/add?current={{categoryName}}" class="btn">Додати нову пісню</a>
        <a class="btn red" data-modal="/category/delete/{{categoryId}}">Видалити категорію</a>
    {{/if}}
</div>

{{> del-confirm}}