<h1>{{name}}</h1>

<div>
    <pre>{{text}}</pre>
    <p class="author">{{author}}</p>

    <div class="buttons">
        <form action="/" method="GET">
            <button class="btn goHome">На головну</button>
        </form>

        {{#if isAuth}}
        {{#if isAuthor}}
            <form action="/song/edit/{{id}}" method="GET">
                <button class="btn">Редагувати</button>
            </form>

            <form action="/song/delete/{{id}}" method="POST">
                <button class="btn red">Видалити</button>
            </form>
        {{/if}}
        {{/if}}
    </div>
</div>
