<h1>{{name}}</h1>

<div>
    <pre>{{text}}</pre>

    <p class="right">{{author}}</p>

    <div class="buttons_container">
        <a href="/category" class="btn blue">До категорій</a>
        {{#if isAuthor}}
            <a href="/song/edit/{{id}}" class="btn">Редагувати</a>
            <a class="btn red" data-modal="/song/delete/{{id}}">Видалити</a>
        {{/if}}
    </div>
</div>

{{> del-confirm}}