<h1>{{name}}</h1>

<div>
    <pre>{{text}}</pre>
    <p class="author">{{author}}</p>

    <div class="buttons">
        <a href="/category" class="btn goHome">До категорій</a>
        {{#if isAuthor}}
            <a href="/song/edit/{{id}}" class="btn">Редагувати</a>
            <form action="/song/delete/{{id}}" method="POST">
                <button class="btn red">Видалити</button>
            </form>
        {{/if}}
    </div>
</div>
