<h1>{{name}}</h1>

<div>
    <pre>{{text}}</pre>
    <p class="author">{{author}}</p>
    <form action="/" method="GET">
        <button class="btn">На головну</button>
    </form>
    <div>
        <form action="/song/delete/{{id}}" method="POST" class="right">
            <button>Видалити пісню</button>
        </form>
        <form action="/song/edit/{{id}}" method="GET" class="right">
            <button>Редагувати пісню</button>
        </form>
    </div>
</div>
